.container {
  display: flex;
  max-width: 1000px;
  margin: 80px auto auto;
  gap: 100px;
}

.hey {
  margin-top: -48px;
}

.about {
  display: flex;
  gap: 16px;
}

.imageBorder {
  border: solid 3px rgb(var(--primary-color));
  padding: 10px;
  transition: all 150ms ease-in-out;

  &:hover {
    transform: rotate(5deg);

    .portrait {
      transform: rotate(-10deg);
    }
  }
}

.portrait {
  transition: all 150ms ease-in-out;
  border: solid 3px rgb(var(--primary-color));
}
