.container {
  display: flex;
  margin: 80px auto auto;
  gap: 100px;
}

.item {
  padding: 16px;
  height: 500px;
  min-width: 250px;
  border: 2px solid rebeccapurple;
  box-shadow: 5px 5px 5px rebeccapurple;
  border-radius: 20px 20px 20px;
}
