.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 32px;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 32px;
  margin: auto;
}

.link {
  color: white;
  text-decoration: none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  transition: border-color 300ms;
  padding: 2px 8px;
  white-space: nowrap;

  &:hover {
    border-color: rgb(var(--primary-color));
  }
}

.right {
  width: 200px;
}
